---
layout: default
published: true
---
<header>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

<html>
 <a href="https://en.wikipedia.org/wiki/Pisa" id="time_is_link" rel="nofollow" style="font-size:16px">• time in pisa right now:</a>
<span id="Pisa_z723" style="font-size:16px"></span>
<script src="//widget.time.is/t.js"></script>
<script>
time_is_widget.init({Pisa_z723:{}});
</script>
</html>


{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}
