---
layout: default
published: true
---
<header>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>


<pre style="font-size: 16px;">
   • time in pisa right now: <span id="Pisa_z723" style="font-size:16px; white-space: nowrap;"></span><script src="//widget.time.is/t.js"></script> <script> time_is_widget.init({Pisa_z723:{}});</script>
</pre>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}
